.primary {
    -fx-background-color:  #19191c;
}

.primaryText {
    -fx-font-size: 32px;
    -fx-text-fill:  #e0e0e0;
}

.secondary {
     -fx-background-color:  #0f0f0f;
     -fx-text-fill:  #e0e0e0;
}

.popout {
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.main {
    -fx-border-style: solid;
    -fx-border-width: 3 7 7 0;
    -fx-border-color: #26282b #19191c #0f0f0f #26282b;
}

.chat {
    -fx-background-color:  #232327;
}

#windowBar Button {
    -fx-background-color: transparent;
}

ScrollPane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#chatMenu ToolBar {
    -fx-background-color: transparent;
}

#chatMenu HBox Button {
    -fx-background-color: transparent;
}

/* The background of the entire ListView */
.list-view {
    -fx-background-color: #2f3136; /* Dark Discord-like grey */
}

/* The individual cells */
.list-cell {
    -fx-background-color: #2f3136;
    -fx-text-fill: white;
    -fx-padding: 10px;
}


/* When you hover over a friend */
.list-cell:hover {
    -fx-background-color: #4f545c;
}

/* When a friend is selected */
.list-cell:selected {
    -fx-background-color: #5865f2; /* Blurple */
    -fx-text-fill: white;
}


.text-area {
    -fx-background-color: #2f3136;
    -fx-text-fill: white;
    -fx-border-color: #4f545c;
}

.tertiary {
    -fx-background-color: #2f3136;
    -fx-text-fill: white;
    -fx-border-width: 0;
}

.text-area .content {
    -fx-background-color: #2f3136;
    -fx-text-fill: white;
    -fx-border-color: #4f545c;
    -fx-border-radius: 4px;
    -fx-prompt-text-fill: #72767d; /* Color of the placeholder text */
}

/* Focused state to avoid bright blue glowing borders */
.text-area:focused {
    -fx-border-color: #5865f2;
}